body { 
    background-color: rgb(245, 245, 245);

}


.card {
text-align: center;
padding: 35px;
border: 1px solid rgb(255, 255, 255)


}
.card-group > input {
    
    text-align: left;
    margin: 3px;
    width : 90%;
    height: 30px;
    margin-bottom: 10px;

    

}  
.form{
    position:absolute;
    font-family: sans-serif ;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 60px;
    height: 400px;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    transform: translate(200%,15%);

}
.card-group > button {

background-color: rgb(0,149,246);
width: 95%;
margin-top: 10px;
height: 30px;
color: white;
border-radius: 5px;
border: none ;
margin-bottom: 10px;
}
.card-group > input{

background-color: rgb(245, 245, 245);
border: 1px solid rgb(214, 214, 214);
font-size: 13px;
font-family: Arial, Helvetica, sans-serif
}

.entrar{

text-decoration: none;
color: rgb(56,81,133);
font-family:Arial, Helvetica, sans-serif;
font-size: 13px;
font-style:unset;
}

#ou {
    color: rgb(175, 175, 175);
    font-family: sans-serif;
    font-size: 10px;
}
.iphone{

position: absolute;
left: 470px;
top: 100px;
}
.form2{

background-color: white;
border: 1px solid rgb( 219,219,219);
position: relative ;
width: 420px;
height: 80px;
left: 905px;
top: 555px;

}
.textoform2{
font-size: 13px;
color: rgb(51, 51, 51);
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin: 30px;
padding: center;



}
.cadastro{
    text-decoration: none;
    outline: none;
    color: rgb(49,172,249);
   
}
.terminal {
    font-style: normal;
    color: rgb(71, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-display: block;
position: relative;
left:980px ;
top: 550px;

}
.terminal> h3{
text-indent: 70px;

}
 
div > .esqueceu {
    text-decoration: none;
    font-size: 13px;
    color: rgb(86, 118, 138);
    text-align: justify;
}
.criador-foto{

    border-radius: 180px;
    box-shadow: 5px 5px 5px rgb(134, 134, 134);
    position: absolute;
    left: 30px;

    top: 20px;
}

.perfil-criador{
    font-style: italic;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    background-image: linear-gradient(to right,rgb(255, 160, 160),rgb(255, 0, 0));
color: rgb(255, 255, 255);
    text-decoration: none;
    left: 120px;
    top:  45px;
    position: absolute;

}